[flake8]
format = pylint
output-file = flake8.log
max-line-length = 120
per-file-ignores = metadata_utils.py: F841
ignore =
    # 1 blank line required between summary line and description
    D205
    # First line should end with a period
    D400
    # First line should be in imperative mood
    D401
    # First word of the docstring should not be 'This'
    D404
    # E722: do not use bare 'except'
    E722
    # W503: line break before binary operator
    W503
    # W504: line break before binary operator (we need them both)
    W504
statistics = 1
docstring-convention = numpy
application-import-names = opera
