# Object files
*.pyc

# IntelliJ files
.idea/
*.iml

# Temporary files
*~

# other stuff
.DS_Store
allure/
venv/
WhereAmI.py
build/
.eggs/
.pytest_cache/
.coverage
.ipynb_checkpoints/
test_results/


